@model MVCResumeSite.Models.Post

      

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
<br />
<script src="~/js/clean-blog.js"></script>
<script src="~/js/clean-blog.min.js"></script>

<link href="~/css/clean-blog.min.css" rel="stylesheet" />

<html lang="en">

<body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Bryants Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
 
 <div class="container">
     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
  


        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                        <h4>Posted by Bryant Milliren @Model.DateCreated.DateTime.ToLongDateString()</h4>
                        <img src="@Model.MediaUrl" class="img-responsive" align="middle"/>
                        <br/>
                      
                          @Html.Raw(Model.Body)
                    

                        <h2 class="section-heading"></h2>


                        <div class="well">
                            <h4>Leave a Comment:</h4>
                            <form action="/Posts/Comment" method="post">
                                <div class="form-group">
                                    @Html.Hidden("PostId", Model.Id)
                                    @Html.AntiForgeryToken()
                                    <textarea class="form-control" rows="3" name="Message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        @comment.Author.UserName
                                        <small>@comment.DateCreated.DateTime.ToLongDateString()</small>
                                    </h4>
                                    @Html.Raw(comment.Message)
                                </div>
                            </div>


                        }


                    </div>
                </div>
            </div>
        </article>
        <hr>

 </div>
  

    

        <!-- jQuery -->
        <script src="/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Custom Theme JavaScript -->
    </body>
</html>

