@model PagedList<MVCResumeSite.Models.Post>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<script src="~/js/clean-blog.js"></script>
<script src="~/js/clean-blog.min.js"></script>
<link href="~/content/animate.css" rel="stylesheet" />

<link href="~/css/clean-blog.min.css" rel="stylesheet" />

    <!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Bryants Blog</h1>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Page Header -->
<div class="container">
    <div class="row">
        @Html.ActionLink("Create", "Create") <br />
    </div>
</div>

<div class="container">
    <!-- /.input-group -->
    <div class="row">
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details", new { Slug=item.Slug })" class="no-link">
                    <h3 class="post-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <p class="post-meta">Posted by Bryant Milliren @item.DateCreated.DateTime.ToLongDateString()</p>
                    <div class="bodyText">
                        @Html.Raw(item.Body)

                    </div>
                    <br/>
                    <br/>
                    <img src="@item.MediaUrl" class="img-responsive"/>
                    <p>
                        @if (User.IsInRole("Admin"))
                        {
                            
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }

                    </p>
                </a>
            }
            <hr>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>Blog Search</h4>
                <form action="@Url.Action("Index")" method="get">
                    <div class="input-group">

                        <input type="text" id="query" name="query" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.Query }))
            </ul>
        </div>
    </div>
</div>

    
@section Scripts {
<script src="/Scripts/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".bodyText").dotdotdot({
            watch: true
        });
    });
</script>




}